body {
    margin: 0px auto;
    width: 1024px;
    text-align: left;
    background: #eee;
}

img.logo {
    vertical-align: bottom;
}

input.query-box {
    width: 500px;
}

div.content {
    text-align: left;
}

textarea#pkg {
    width: 800px;
    height: 500px;
}

.schres .title a, .schres .title a:link, .schres .title a:visited {
    color: #12c;
}

.schres .info, .schres .info a {
    color: #093;
}

.schres .info a {
    text-decoration: none;
}

.code {
    font-family: courier new;
}

header {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

header a, footer a {
    text-decoration: none;
}

footer {
    margin-top: 10px;
    border-top: 1px solid gray;
    padding-bottom: 20px;
    text-align: center;
}

tfoot tr td {
    border-top: 1px solid black;
    border-bottom: 3px double black;
}

td.numcell {
    font-family: courier new;
    text-align: right;
}
