{{template "header.html" (printf "%s - Search" .Q)}}
<div>
    <form>
        <label for="q">GCSE</label>
        <input class="query-box" id="q" type="search" name="q" value="{{.Q}}">
        <button>search</button>
    </form>
</div>
<div class="content">
    <div>
        Total {{.Results.TotalResults}} results:
    </div>
    <ol class="schres">
        {{range .Results.Docs}}
            <li>
                <div class="title">
                    <a target="_blank" href="/view?id={{.Package}}">{{.MaredName}}</a>
                    - {{len .ImportedPkgs}} refs
                    - {{.StarCount}} stars
                </div>
                <div class="summary">{{.Summary}}</div>
                <div class="info">
                    {{.MaredPackage}}
                    - {{.Score}} ({{.MatchScore}}, {{.StaticScore}})
                </div>
            </li>
        {{end}}
    </ol>
</div>
{{template "footer.html"}}
