{{template "header.html"}}
<div>
    <form>
        <label for="q">Go Code Search</label>
        <input class="query-box" id="q" type="text" name="q" value="{{.Q}}">
        <button>search</button>
    </form>
</div>
<div class="content">
    <div>
        Total {{.Results.TotalResults}} results:
    </div>
    <ol class="schres">
        {{range .Results.Docs}}
            <li>
                <div class="title"><b>{{.Name}}</b> - {{.Imported}}({{.StaticScore}}) - <a target="_blank" href="/view?id={{.Package}}">info</a></div>
                <div class="summary">{{.Summary}}</div>
                <div class="info">{{.Package}}</div>
            </li>
        {{end}}
    </ol>
</div>
{{template "footer.html"}}
